// _content.scss


html {

  background-color: #fff;

  height: 100%;

}

body {

  min-height: 100%;
  padding: 4em 0 0 0;

  @include breakpoint-tablet {
  }
}

section {
  margin: 0;
  padding: $vmargin $gutter-width;

  @include breakpoint-tablet {
    @include clearfix;
    padding: ($vmargin * 2) 0;
  }

}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

figure {
  position: relative;
}

figcaption {

    background: #fff;

    color: #000;
    padding: 1em 0;
    text-align: 0;

    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    opacity: 0.9;

    a & {
      border-bottom: none;
      color: #333;
      text-decoration: none;
    }

}

hr {
  border: none;
  border-top: 1px solid theme-color(1);
  clear: both;
  margin: ($vmargin) 0;
}

#home {

  padding-top: 0;

  h1 {
    margin-bottom: $vmargin*2;
  }

  @include breakpoint-tablet {
    h1 {
      font-size: 280%;
    }
  }

  @include breakpoint-desktop {
      padding: 50px 0;
  }

}

@mixin sectionize($color, $light-factor: 25%, $dark-factor: 30%) {
  $light-color: lighten($color, $light-factor);
  $dark-color: darken($color, $dark-factor);
  $very-dark-color: darken($color, $dark-factor * 1.5);

  background: $light-color;

  a {
    color: $dark-color;
    &:hover {
      color: $very-dark-color;
    }
  }
}

#venue {
  @include sectionize($color-venue);
}

#seattle {
  @include sectionize($color-bham);
}

.shadowed-image {

  html.boxshadow & {
    @include box-sizing(border-box);
  }

  border: 5px solid #fff;
  color: $color-text;
  display: block;
  margin-bottom: 10%;
  text-decoration: none;

  @include breakpoint-tablet {

    html.boxshadow & {
      @include box-shadow(0 0 10px #888);
      border: 15px solid #fff;
      margin: 2.5%;
      margin-bottom: 10%;
    }

    -webkit-backface-visibility: hidden; // Fixes jaggy rotated edges in webkit

    &.rotate-left {
      @include rotate(-1deg);
    }

    &.rotate-right {
      @include rotate(1deg);
    }
  }
}


#rsvp {
  background: lighten($color-rsvp, 20%);
  display: none;
}

.show-rsvp {

  #rsvp-button {
    display: none;
  }

  #rsvp {
    display: block;
  }

}

.rsvp-loading {
  background: image-url("rsvp-loading.gif") center center no-repeat;
  min-height: 100px;

  .wufoo-loaded & {
    background-image: none;
  }
}
